@model dynamic

@{
    ViewBag.Title = "PGHDOTNET";
}
<div class="row">
    <div class="span6">
        <div class="row">
            <div class="span6">
                <h2>Bootstrap and LESS Demo</h2>

                This form does absolutely nothing...
                <label>Name</label><input class="input-medium" />
                <label>Email</label><input class="input-medium" />
                <label>Favorite Sport</label><select>
                    <option>Football</option>
                    <option>Basketball</option>
                    <option>Baseball</option>
                    <option>Hockey</option>
                    <option>Pair Programming</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Submit</button>&nbsp;
    <button class="btn">Cancel</button>
            </div>
        </div>

    </div>
    <div class="span6">
        <a href="http://twitter.github.com/bootstrap/">
            <h2>Bootstrap - http://twitter.github.com/bootstrap </h2>
        </a>
        <br />
        <a href="https://github.com/twitter/bootstrap">
            <h2>Github project - https://github.com/twitter/bootstrap </h2>
        </a>
        <br />
        <a href="http://builtwithbootstrap.com/">
            <h2>http://builtwithbootstrap.com/</h2>
        </a>
        <br />
        <a href="http://visualstudiogallery.msdn.microsoft.com/07d54d12-7133-4e15-becb-6f451ea3bea6">
            <h2>Web Essentials 2012</h2>
        </a>
        <br />
        <a href="http://lesscss.org/">
            <h2>LESS</h2>
        </a>
        <br />
        <a href="http://wearekiss.com/simpless">
            <h2>SimpLESS</h2>
        </a>
    </div>
</div>
